[submodule "seqan"]
	path = submodules/seqan
	url = https://github.com/seqan/seqan.git
	branch = develop
	shallow = true
[submodule "sdsl"]
	path = submodules/sdsl-lite
	url = https://github.com/xxsds/sdsl-lite.git
	branch = master
	shallow = true
[submodule "benchmark"]
	path = submodules/benchmark
	url = https://github.com/google/benchmark.git
	branch = master
	shallow = true
