# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
data/ibf.tar
data/ibf/bins/bin_0.fasta
data/ibf/bins/bin_1.fasta
data/ibf/bins/bin_10.fasta
data/ibf/bins/bin_11.fasta
data/ibf/bins/bin_12.fasta
data/ibf/bins/bin_13.fasta
data/ibf/bins/bin_14.fasta
data/ibf/bins/bin_15.fasta
data/ibf/bins/bin_16.fasta
data/ibf/bins/bin_17.fasta
data/ibf/bins/bin_18.fasta
data/ibf/bins/bin_19.fasta
data/ibf/bins/bin_2.fasta
data/ibf/bins/bin_20.fasta
data/ibf/bins/bin_21.fasta
data/ibf/bins/bin_22.fasta
data/ibf/bins/bin_23.fasta
data/ibf/bins/bin_24.fasta
data/ibf/bins/bin_25.fasta
data/ibf/bins/bin_26.fasta
data/ibf/bins/bin_27.fasta
data/ibf/bins/bin_28.fasta
data/ibf/bins/bin_29.fasta
data/ibf/bins/bin_3.fasta
data/ibf/bins/bin_30.fasta
data/ibf/bins/bin_31.fasta
data/ibf/bins/bin_32.fasta
data/ibf/bins/bin_33.fasta
data/ibf/bins/bin_34.fasta
data/ibf/bins/bin_35.fasta
data/ibf/bins/bin_36.fasta
data/ibf/bins/bin_37.fasta
data/ibf/bins/bin_38.fasta
data/ibf/bins/bin_39.fasta
data/ibf/bins/bin_4.fasta
data/ibf/bins/bin_40.fasta
data/ibf/bins/bin_41.fasta
data/ibf/bins/bin_42.fasta
data/ibf/bins/bin_43.fasta
data/ibf/bins/bin_44.fasta
data/ibf/bins/bin_45.fasta
data/ibf/bins/bin_46.fasta
data/ibf/bins/bin_47.fasta
data/ibf/bins/bin_48.fasta
data/ibf/bins/bin_49.fasta
data/ibf/bins/bin_5.fasta
data/ibf/bins/bin_50.fasta
data/ibf/bins/bin_51.fasta
data/ibf/bins/bin_52.fasta
data/ibf/bins/bin_53.fasta
data/ibf/bins/bin_54.fasta
data/ibf/bins/bin_55.fasta
data/ibf/bins/bin_56.fasta
data/ibf/bins/bin_57.fasta
data/ibf/bins/bin_58.fasta
data/ibf/bins/bin_59.fasta
data/ibf/bins/bin_6.fasta
data/ibf/bins/bin_60.fasta
data/ibf/bins/bin_61.fasta
data/ibf/bins/bin_62.fasta
data/ibf/bins/bin_63.fasta
data/ibf/bins/bin_7.fasta
data/ibf/bins/bin_8.fasta
data/ibf/bins/bin_9.fasta
data/ibf/reads/bin_00.fastq
data/ibf/reads/bin_01.fastq
data/ibf/reads/bin_02.fastq
data/ibf/reads/bin_03.fastq
data/ibf/reads/bin_04.fastq
data/ibf/reads/bin_05.fastq
data/ibf/reads/bin_06.fastq
data/ibf/reads/bin_07.fastq
data/ibf/reads/bin_08.fastq
data/ibf/reads/bin_09.fastq
data/ibf/reads/bin_10.fastq
data/ibf/reads/bin_11.fastq
data/ibf/reads/bin_12.fastq
data/ibf/reads/bin_13.fastq
data/ibf/reads/bin_14.fastq
data/ibf/reads/bin_15.fastq
data/ibf/reads/bin_16.fastq
data/ibf/reads/bin_17.fastq
data/ibf/reads/bin_18.fastq
data/ibf/reads/bin_19.fastq
data/ibf/reads/bin_20.fastq
data/ibf/reads/bin_21.fastq
data/ibf/reads/bin_22.fastq
data/ibf/reads/bin_23.fastq
data/ibf/reads/bin_24.fastq
data/ibf/reads/bin_25.fastq
data/ibf/reads/bin_26.fastq
data/ibf/reads/bin_27.fastq
data/ibf/reads/bin_28.fastq
data/ibf/reads/bin_29.fastq
data/ibf/reads/bin_30.fastq
data/ibf/reads/bin_31.fastq
data/ibf/reads/bin_32.fastq
data/ibf/reads/bin_33.fastq
data/ibf/reads/bin_34.fastq
data/ibf/reads/bin_35.fastq
data/ibf/reads/bin_36.fastq
data/ibf/reads/bin_37.fastq
data/ibf/reads/bin_38.fastq
data/ibf/reads/bin_39.fastq
data/ibf/reads/bin_40.fastq
data/ibf/reads/bin_41.fastq
data/ibf/reads/bin_42.fastq
data/ibf/reads/bin_43.fastq
data/ibf/reads/bin_44.fastq
data/ibf/reads/bin_45.fastq
data/ibf/reads/bin_46.fastq
data/ibf/reads/bin_47.fastq
data/ibf/reads/bin_48.fastq
data/ibf/reads/bin_49.fastq
data/ibf/reads/bin_50.fastq
data/ibf/reads/bin_51.fastq
data/ibf/reads/bin_52.fastq
data/ibf/reads/bin_53.fastq
data/ibf/reads/bin_54.fastq
data/ibf/reads/bin_55.fastq
data/ibf/reads/bin_56.fastq
data/ibf/reads/bin_57.fastq
data/ibf/reads/bin_58.fastq
data/ibf/reads/bin_59.fastq
data/ibf/reads/bin_60.fastq
data/ibf/reads/bin_61.fastq
data/ibf/reads/bin_62.fastq
data/ibf/reads/bin_63.fastq
