[submodule "seqan"]
	path = submodules/seqan
	url = https://github.com/eseiler/seqan.git
	branch = fix/gcc9_copy_deprecation
[submodule "sdsl"]
	path = submodules/sdsl-lite
	url = https://github.com/xxsds/sdsl-lite.git
[submodule "benchmark"]
	path = submodules/benchmark
	url = https://github.com/google/benchmark.git
